Step1 - Gathering dataset

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv("/content/Housing (1).csv")

In [ ]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [ ]:
data.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

Step2 - Data Cleaning/Data preprocessing/Data Wrangling

In [ ]:
data['basement']=data['basement'].apply({'no':0,'yes':1}.get)
data['mainroad']=data['mainroad'].apply({'no':0,'yes':1}.get)
data['hotwaterheating']=data['hotwaterheating'].apply({'no':0,'yes':1}.get)
data['airconditioning']=data['airconditioning'].apply({'no':0,'yes':1}.get)
data['furnishingstatus']=data['furnishingstatus'].apply({'furnished':0,'unfurnished':1,'semi-furnished':2}.get)

In [ ]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,no,0,0,1,2,yes,0
1,12250000,8960,4,4,4,1,no,0,0,1,3,no,0
2,12250000,9960,3,2,2,1,no,1,0,0,2,yes,2
3,12215000,7500,4,2,2,1,no,1,0,1,3,yes,0
4,11410000,7420,4,1,2,1,yes,1,0,1,2,no,0

Step3 - Divide the data into dependent(y) and independent(x) variables

In [ ]:
x=data[['area','bedrooms','bathrooms','stories','furnishingstatus','basement','hotwaterheating','airconditioning','parking']] #these are the independent variables
y=data['price'] #this is the dependent variable

In [ ]:
x.head()

,area,bedrooms,bathrooms,stories,furnishingstatus,basement,hotwaterheating,airconditioning,parking
0,7420,4,2,3,0,0,0,1,2
1,8960,4,4,4,0,0,0,1,3
2,9960,3,2,2,2,1,0,0,2
3,7500,4,2,2,0,1,0,1,3
4,7420,4,1,2,0,1,0,1,2

In [ ]:
y.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

Step4 - Splitting the data into training and testing set

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
x_train.shape

(436, 9)

In [ ]:
y_train.shape

(436,)

In [ ]:
x_test.shape

(109, 9)

In [ ]:
y_test.shape

(109,)

Creating a machine learning model by using Linear Regression algorithm

In [ ]:
from sklearn.linear_model import LinearRegression
regression=LinearRegression()

In [ ]:
regression.fit(x_train,y_train)

LinearRegression()

In [ ]:
predictions=regression.predict(x_test)

In [ ]:
predictions #chargest predicted by machine learning model

array([3687660.13726854, 5697293.84841254, 3288491.56661298,
       6287532.78432282, 3915662.50748774, 3133528.92363884,
       2754528.46273022, 4459101.49148994, 4509283.17057627,
       6370598.05634461, 5607752.30829769, 5082304.27916144,
       3319661.64562977, 4333261.19140411, 2751493.60102035,
       5622980.68808737, 4135119.95169129, 3659746.05377202,
       6934138.97885832, 2886068.90388492, 3407204.38068545,
       4009096.25779913, 2883779.03697886, 5110927.66097016,
       4173900.91153341, 3211075.45635099, 3689950.0041746 ,
       3217256.57223951, 5210141.46343638, 3522089.25461092,
       4719949.43735885, 5703448.55932339, 5208174.43066773,
       6347382.97488218, 5368616.64892822, 5138979.31781848,
       3856022.07480543, 3581047.49465748, 6489865.48415769,
       5836559.12541766, 2572436.76013834, 5879919.95172692,
       3977954.44635881, 5898421.58059542, 2470934.35656702,
       5008077.10856594, 3811799.75750305, 6045992.32680918,
       2505400.85094192, 4474394.59043921, 5463451.0317417 ,
       6487719.9067286 , 7138914.56600392, 3091398.1125252 ,
       3602989.13314675, 3267518.12380675, 5303508.81298103,
       2863783.48428535, 7231306.92868479, 4171981.74287734,
       2875922.93112481, 3260993.11545316, 3050696.43102142,
       4654548.48143195, 5570478.61133973, 4621797.96949605,
       4515388.12393733, 5215039.79271707, 6485436.72277931,
       3308959.11709419, 7202312.99117209, 4723604.7818474 ,
       5018971.6170256 , 5377224.01660121, 3617734.03305832,
       7747263.0200383 , 7468230.37447404, 2836567.76100596,
       3787210.99928326, 7170563.79144815, 3308302.42353546,
       3175052.87376527, 4311380.58409673, 2985177.95267994,
       3259662.01795269, 5404846.05743007, 6785226.52265515,
       4345831.89184646, 4444299.47243045, 5189155.16693815,
       7800925.74281924, 4908669.67489711, 3409494.24759151,
       6684900.93037868, 3406666.47752667, 5175178.69383856,
       3331801.09246923, 5462022.65582876, 4601639.28602656,
       4415814.36150767, 7839991.20306814, 6634641.74807764,
       5806967.83264921, 4735829.9698749 , 6478077.41844021,
       2635961.76440048, 4624232.50309817, 7443509.66757543,
       4385874.39475622])

In [ ]:
regression.score(x,y)

0.6372501774059777

For a new customer, how much should be the price of house (price) ?

In [ ]:
#new customer  - new data
data_new={'area':7860,'bedrooms':3,'bathrooms':2,'stories':1,'furnishingstatus':0,'basement':0,'parking':2,'hotwaterheating':1,'airconditioning':1}

In [ ]:
index=[1] #serial number
my_data=pd.DataFrame(data_new,index)

In [ ]:
my_data

,area,bedrooms,bathrooms,stories,furnishingstatus,basement,parking,hotwaterheating,airconditioning
1,7860,3,2,1,0,0,2,1,1

In [ ]:
new_predictions=regression.predict(my_data)
print("the House cost(charges) for the new customer will be",new_predictions)

the House cost(charges) for the new customer will be [7944491.62947857]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)